[submodule "themes/ecoforge"]
	path = themes/ecoforge
	url = https://github.com/Jacques-Murray/wp-theme-ecoforge.git
[submodule "plugins/wc-cost-of-goods"]
	path = plugins/wc-cost-of-goods
	url = https://github.com/Jacques-Murray/wc-cost-of-goods/
